<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom_polls.css' %}"> <!-- Link to custom CSS file -->
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar-custom">
        <!-- Navbar content -->
    </nav>

    <!-- Page content -->
    <div class="container">
        <form action="{% url 'polls:detail' question.id %}/" method="post">
            {% csrf_token %}
            <div class="container">
                <h1 class="display-4">{{ question.question_text }}</h1>
                {% for choice in question.choice_set.all %}
                <div class="form-check"> <!--Bootstrap class 'form-check-input' for radio buttons-->
                    <input class="form-check-input" type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}">
                    <label class="form-check-label" for="choice{{ choice.id }}">{{ choice.choice_text }}</label>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Vote</button><!--vote button to click once choice has been selected-->
        </form>
    </div>
    
    <form action="{% url 'polls:logout' %}" method="post">
        {% csrf_token %}
        <div class="col-sm-1">
            <button class="btn btn-danger btn-block">Logout</button>
        </div>
    </form>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>&copy; 2024 M10 Productions. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
