/*css file for the posts that were created in the admin*/

/* Body */
body {
    background-color: #6a6a68; /* Light pink background */
    color: #ebebeb; /* Green text color */
    font-family: Arial, sans-serif; /* Use a sans-serif font */
}

/* Header styles */
header {
    text-align: center; /* Center-align header content */
    padding: 50px 0; /* Add some padding */
}


/* Recent Posts column */
.recent-posts {
    background-color: #000000; /* Light gray background */
    padding: 20px; /* Add padding */
    padding: 20px; /* Add padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    margin-bottom: 20px; /* Add margin at the bottom */
    
}

.recent-posts h2 {
    color: #efefef; /* Dark text color */
    font-size: 30px; /* Larger font size for heading */
}

.recent-posts ul {
    font-size: 20px;
    list-style-type: disc; /* add bullet points */
    padding: 10px; /* Remove default padding */
    color:#e8e2e2
}

.recent-posts ul li {
    margin-bottom: 10px; /* Add some spacing between list items */
}

/* Image container */
.image-container {
    margin-bottom: 20px; /* Add some space below the images */
}

/* Custom styles for navbar */
.navbar-custom {
    background-color: #673ab7; /* Change the background color of the navbar */
    color: #ffffff; /* Change the text color of the navbar */
}

/* Custom styles for navbar brand */
.navbar-custom .navbar-brand {
    color: #ffffff; /* Change the text color of the navbar brand */
}

/* Custom styles for navbar links */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; /* Change the text color of the navbar links */
}

/* Custom styles for toggler icon */
.navbar-custom .navbar-toggler-icon {
    background-color: #ffffff; /* Change the background color of the toggler icon */
}

/* Custom styles for headings */
h1, h3, h4, h5, h6 {
    color: #f3f1f1; /* Dark purple headings */
}

h2 {
    color: rgb(235, 113, 206); /* Black heading color */
}

/* Custom styles for post URLs */
header ul li a {
    color: #fbf7f7; /* Change the color of post URLs to a shade of orange */
}


/* Footer styles */
footer {

    bottom: fixed;
    width: 100%;
    background-color: #0e0e0e; /* Dark background color */
    color: #e8e2e2; /* Light text color */
    padding: 20px 0; /* Add some padding to the top and bottom */
}

footer p {
    margin-bottom: 0; /* Remove default margin for paragraph */
    text-align: center; /* Center-align text */
}
