/*css file for login page*/

/* Custom styles for body */
body {
    background-color: #6a6a68; /* Light pink background */
    color: #0e0d0d; /* Green text color */
}

/* Custom styles for navbar */
.navbar-custom {
    background-color: #673ab7; /* Change the background color of the navbar */
    color: #ffffff; /* Change the text color of the navbar */
}

/* Custom styles for navbar brand */
.navbar-custom .navbar-brand {
    color: #ffffff; /* Change the text color of the navbar brand */
}

/* Custom styles for navbar links */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; /* Change the text color of the navbar links */
}

/* Custom styles for toggler icon */
.navbar-custom .navbar-toggler-icon {
    background-color: #ffffff; /* Change the background color of the toggler icon */
}

/* Custom styles for headings */
h1, h3, h4, h5, h6 {
    color: #f3f1f1; /* Dark purple headings */
}

h2 {
    color: black;
}

/* Custom styles for post URLs */
header ul li a {
    color: #fbf7f7; /* Change the color of post URLs to a shade of orange */
}

/* Custom styles for buttons */
.btn {
    background-color: #4f32b9; /* Dark purple buttons */
    border-color: #a5a1b4; /* Dark purple border color for buttons */
    color: #f8bbd0; /* Light pink text color for buttons */
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0e0e0e; /* Dark background color */
    color: #e8e2e2; /* Light text color */
    padding: 20px 0; /* Add some padding to the top and bottom */
}

footer p {
    margin-bottom: 0; /* Remove default margin for paragraph */
    text-align: center; /* Center-align text */
}
