{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jazzy Disciples</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom_home.css'%}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% static 'header.css'%}">M10 Productions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:index'%}">Survey</a> <!-- Added Survey button -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact:contact_us' %}">Contact Us</a> <!-- Added Contact Us button -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_auth:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_auth:register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <header>
        <div class="container">
            <h1 class="display-4">Jazzy Disciples</h1><!--display-4 to make the heading larger-->
            <hr>
            <p><!--Description of the jazz band-->
                Jazzy Disciples is a vibrant and soulful jazz band hailing from the beautiful landscapes of Lesotho, Africa. 
                With their unique blend of Motown-inspired melodies and African rhythms, they bring a fresh and energetic sound to the world of jazz music.
                Formed by a group of talented musicians passionate about spreading the joy of music, Jazzy Disciples captivate audiences with their smooth 
                tunes and infectious rhythms.</p>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="image-container">
                    <img src="{% static 'css/images/jazz7.jpg' %}" alt="Jazz Band Image" class="img-fluid">
                    <!-- Added a stock image of a person playing an instrument -->
                </div>
            </div>
            <div class="col-md-4 recent-posts">
                <h2>Upcoming events</h2>
                <ul>
                    {% for post in recent_posts %}
                    <li><a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>&copy; 2024 M10 Productions. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and jQuery (if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
