<!-- templates/post.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
    <link rel="stylesheet" href="{% static 'css/custom_post.css' %}"> <!-- Link to custom_blog.css -->
</head>
<body>

<div class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p> <!--content of the blog post is stored in the body-->
    <p>{{ post.date }}</p>
    {% if post.signature %}
        <div class="signature">
            {{ post.signature }}
        </div>
    {% endif %}
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>&copy; 2024 M10 Productions. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>

<!-- This file makes sure that the details of each blog 
      post is displayed when a user clicks on the blog title-->