<!--code from previous tasks-->

<!DOCTYPE html>

<html>

<head>
    <title>My Childhood</title>
</head>
<body>
    <h1>Hobbies</h1>
    <p>
        <h2>Fishing</h2>
        <em><strong>I recall going camping with my grandad and catching my first Bass.</strong></em> <!-- <strong></strong> is to display bold text-->
    </p>
    <p>
        <h2>Go-karting</h2>
        <em><strong>Max Verstappen and Nico Rosburg planted the bug in me to start messing around with karting and watch F1 religiously </strong></em> 
    </p>

    <h1>Toys</h1>
    <p>
        <h2>Football</h2>
        <em><strong>Playing street ball with my friends until our mom's call us for dishwashing duty</strong></em>
    </p>
    <p>
        <h2>LEGO</h2>
        <em><strong>Building castles and skyscrapers with my siblings to see who can build the tallest one.</strong></em> <!-- <em></em> is to display the text italics-->
    </p>
</body>
</html>
