{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--if user decides to register, they will be redirected to a registration page in which theyll 
    follow the instructions to add a new user to the admin database in order to be able to vote-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom_login.css'%}">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% static 'header.css'%}">M10 Productions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:index'%}">Survey</a> <!-- Added Survey button -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact:contact_us' %}">Contact Us</a> <!-- Added Contact Us button -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_auth:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_auth:register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav> 

    <div class="container">
        <h1 class="display-4">Register</h1><!--display-4 to make the heading larger-->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <form action="{% url 'polls:logout' %}" method="post">
            {% csrf_token %}
            <div class="col-sm-2">
                <button class="btn btn-danger btn-block">Logout</button>
                <!----<a href="{% url 'user_auth:logout' %}" class="btn btn-danger btn-block">Logout</a>-->
            </div>
        </form>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>&copy; 2024 M10 Productions. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
